# Configure depot specific environment variables
export DEPOT_ROOT="`pwd`"
export DEPOT_DATA_DIR="`pwd`/.data"

# Configure nix to use standardized configuration
export NIX_CONF_DIR="${DEPOT_ROOT}"

# use system PKI
# unset SSL_CERT_FILE
# unset NIX_SSL_CERT_FILE

# Configure the local PATH to contain tools which are fetched ad-hoc
# from Nix.
watch_file tools/depot-deps.nix
out=$(nix-build -A tools.depot-deps --no-out-link)
PATH_add "$out/bin"

# integrate pre-commit
pre-commit install

# integrate gptcommit
# gptcommit install

# # Configure devenv secrets
# if test -z "$RUNNER_OS"
# then
#   export GPTCOMMIT__OPENAI__API_KEY=`doppler secrets get GPTCOMMIT__OPENAI__API_KEY --plain`
# else
#   echo "devenv: Not configuring devenv secrets as monorepo is building via GitHub Actions"
# fi

# Configure golang
export GOROOT=`go env GOROOT`
export PATH="$GOROOT/bin:$PATH"

# Configure custom dictionary into the hunspell spellchecker
export WORDLIST="${DEPOT_ROOT}/docs/hunspell/dictionary.txt"
export EDITOR=nvim
