# Configure depot specific environment variables
export DEPOT_ROOT="`pwd`"
export DEPOT_DATA_DIR="`pwd`/.data"

# Configure nix to use standardized configuration
export NIX_CONF_DIR="${DEPOT_ROOT}"

# use system PKI
# unset SSL_CERT_FILE
# unset NIX_SSL_CERT_FILE

# Configure the local PATH to contain tools which are fetched ad-hoc
# from Nix.
watch_file tools/depot-deps.nix
out=$(nix-build -A tools.depot-deps --no-out-link)
PATH_add "$out/bin"

# integrate pre-commit and gptcommit
pre-commit install
gptcommit install

# Configure custom dictionary into the hunspell spellchecker
export WORDLIST="${DEPOT_ROOT}/docs/hunspell/dictionary.txt"
export EDITOR=nvim
